<ion-view view-title=""class="bar-positive">
  <ion-content>
    <div class="text-center" >
  

      <div class="row" style="padding-top: 50px;">
        <div class="col">
          <img src="img/fleskes.png" height="80"/>
          <br><br><br>
           <a  href="#/app/dashboard">
          <img src="img/grafiek.png" height="80"/>
           </a>
        </div>


        <div class="col">
          
          <img src="img/kart.png" height="80"/>
          <br><br><br>
          <a  href="#/app/scan">
          <img src="img/scan.png" height="80"/>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center" style="padding-top: 50px;">
      <h3>Your key:</h3>
      <h4>{{user.Login}}</h4>
      <h3>{{user.NumberCredits}} credit(s) left</h3>
    </div>

  </ion-content>
</ion-view>
